@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.placeholder-poppins::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #563131; 
    font-size: 1.125rem;
    font-weight: 600;
  }


  /* .splide__slide {
    opacity: 0.8;
  }
  
  .splide__slide.is-active {
    opacity: 1;

  } */
  .splide__track--nav > .splide__list > .splide__slide.is-active {
    border: none !important; }
